[submodule "community/nft-vote-polymer"]
	path = community/nft-vote-polymer
	url = https://github.com/kenobijon/nft-vote-polymer
[submodule "community/bet-NBA"]
	path = community/bet-NBA
	url = https://github.com/0xVivaLabs/polymer-testnet1-nba
[submodule "community/nba-multichain-betting"]
	path = community/nba-multichain-betting
	url = https://github.com/daningyn/bet-dapp-polymer-chain.git
