[submodule "community/nft-vote-polymer"]
	path = community/nft-vote-polymer
	url = https://github.com/kenobijon/nft-vote-polymer
[submodule "community/bet-NBA"]
	path = community/bet-NBA
	url = https://github.com/0xVivaLabs/polymer-testnet1-nba
[submodule "community/Polymension"]
	path = community/Polymension
	url = https://github.com/Polymension/polymension-contracts
[submodule "community/joke-nft-generator"]
	path = community/joke-nft-generator
	url = https://github.com/yurakas97/dapp
[submodule "community/nba-multichain-betting"]
	path = community/nba-multichain-betting
	url = https://github.com/daningyn/bet-dapp-polymer-chain.git
[submodule "community/simple-lottery-app"]
	path = community/simple-lottery-app
	url = https://github.com/daningyn/simple-lottery-ibc-app.git
[submodule "community/IBC-Crosschain-Token"]
	path = community/IBC-Crosschain-Token
	url = https://github.com/GentlemenValidators/erc20-polymerlabs
[submodule "community/polymer-lottery-contract"]
	path = community/polymer-lottery-contract
	url = https://github.com/tuananhht94/polymer-lottery-contract.git
[submodule "community/Raffle-Proof-System"]
	path = community/Raffle-Proof-System
	url = https://github.com/yavuzkocca/Raffle-Proof-System.git
[submodule "community/Asset-cross-chain-bridge"]
	path = community/Asset-cross-chain-bridge
	url = https://github.com/ziheche/Assets-cross-chain.git
[submodule "community/polymer-bridge"]
	path = community/polymer-bridge
	url = https://github.com/wulingzhiyi/polymer-bridge.git
[submodule "community/polymer-gift-contract"]
	path = community/polymer-gift-contract
	url = https://github.com/pot4e/polymer-gift-smartcontract.git
[submodule "community/btn-gifting-with-polymer"]
	path = community/btn-gifting-with-polymer
	url = https://github.com/btuyen2606/btn-gifting-with-polymer
[submodule "community/BTC-token-bridge"]
	path = community/BTC-token-bridge
	url = https://github.com/caoshanhuyi/BTC-bridge-contract.git
[submodule "community/polymer-pts-nft-game"]
	path = community/polymer-pts-nft-game
	url = https://github.com/wangthing/dapp-closer-tonny
[submodule "community/polymer-eth-bridge-contract"]
	path = community/polymer-eth-bridge-contract
	url = https://github.com/anhhtvip/polymer-bridge-contract.git
[submodule "community/polymer-nft-point-earning-game"]
	path = community/polymer-nft-point-earning-game
	url = https://github.com/chienj1/polymer-nft-point-earning-game.git
[submodule "community/Polymer-lottery"]
	path = community/Polymer-lottery
	url = https://github.com/lsc949982212/polymer-bridge.git
